bcrypt
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
click
colorama
dnspython
Flask
fuzzywuzzy
gunicorn
html5lib
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
PyJWT
pymongo
pyocclient
pytz
requests
six
soupsieve
twilio
typing-extensions
urllib3
webencodings
Werkzeug
zipp
